version: '3.8'

services:
  flask: 
    build: .
    ports:
      - "5000:5000"
    # volumes:
    #   - wherever the data is

# if we use a database, then we would add it as another service, with flask depending on said service
